@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-lavender-100);
  --background-dark: var(--color-lavender-300);
  --foreground: var(--color-lavender-900);
  --icon-foreground: var(--color-mana-500);
  --icon-background: var(--color-mana-500);
  --icon-muted-foreground: var(--color-lavender-600);
  --card: var(--color-lavender-100);
  --card-foreground: var(--color-lavender-900);
  --popover: var(--color-lavender-100);
  --popover-foreground: var(--color-lavender-900);
  --primary: var(--color-mana-500);
  --primary-foreground: var(--color-lavender-100);
  --secondary: var(--color-lavender-200);
  --secondary-foreground: var(--color-lavender-900);
  --muted: var(--color-lavender-300);
  --muted-dark: var(--color-lavender-400);
  --muted-foreground: var(--color-lavender-900);
  --accent: var(--color-lavender-200);
  --accent-foreground: var(--color-lavender-900);
  --destructive: var(--color-jelly-600);
  --destructive-foreground: var(--color-jelly-100);
  --border: var(--color-lavender-400);
  --border-dark: var(--color-lavender-600);
  --input: var(--color-lavender-300);
  --ring: var(--color-mana-500);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: var(--color-lavender-200);
  --sidebar-foreground: var(--color-lavender-900);
  --sidebar-primary: red;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--color-lavender-300);
  --sidebar-accent-foreground: var(--color-lavender-900);
  --sidebar-border: var(--color-lavender-300);
  --sidebar-ring: var(--color-mana-500);
}

.dark {
  --background: var(--color-lavender-950);
  --background-dark: var(--color-lavender-1000);
  --foreground: var(--color-lavender-100);
  --icon-foreground: var(--color-mana-500);
  --icon-background: var(--color-mana-500);
  --icon-muted-foreground: var(--color-lavender-500);
  --card: var(--color-lavender-950);
  --card-foreground: var(--color-lavender-100);
  --popover: var(--color-lavender-950);
  --popover-foreground: var(--color-lavender-100);
  --primary: var(--color-mana-600);
  --primary-foreground: var(--color-lavender-100);
  --secondary: var(--color-lavender-700);
  --secondary-foreground: var(--color-lavender-100);
  --muted: var(--color-lavender-800);
  --muted-dark: var(--color-lavender-900);
  --muted-foreground: var(--color-lavender-400);
  --accent: var(--color-mana-600);
  --accent-foreground: var(--color-mana-100);
  --destructive: var(--color-jelly-600);
  --destructive-foreground: var(--color-jelly-100);
  --border: var(--color-lavender-800);
  --border-dark: var(--color-lavender-900);
  --input: var(--color-lavender-800);
  --ring: var(--color-mana-500);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-lavender-1000);
  --sidebar-foreground: var(--color-lavender-100);
  --sidebar-primary: var(--color-mana-800);
  --sidebar-primary-foreground: var(--color-mana-100);
  --sidebar-accent: var(--color-mana-800);
  --sidebar-accent-foreground: var(--color-lavender-200);
  --sidebar-border: var(--color-lavender-800);
  --sidebar-ring: var(--color-mana-500);
}

@theme inline {
  --color-andreablue-100: #ecf2fcff;
  --color-andreablue-200: #d9e6f9ff;
  --color-andreablue-300: #b3ccf4ff;
  --color-andreablue-400: #8cb3eeff;
  --color-andreablue-500: #6699e9ff;
  --color-andreablue-600: #4080e3ff;
  --color-andreablue-700: #3366b6ff;
  --color-andreablue-800: #264d88ff;
  --color-andreablue-900: #1a335bff;
  --color-andreablue-1000: #0d1a2dff;
  --color-rain-100: #f3f3f3ff;
  --color-rain-200: #e7e8e6ff;
  --color-rain-300: #d0d0ceff;
  --color-rain-400: #b8b9b5ff;
  --color-rain-500: #a1a19dff;
  --color-rain-600: #898a84ff;
  --color-rain-700: #6e6e6aff;
  --color-rain-800: #52534fff;
  --color-rain-900: #373735ff;
  --color-rain-1000: #1b1c1aff;
  --color-atomicorange-100: #fff3e7ff;
  --color-atomicorange-200: #fee7ceff;
  --color-atomicorange-300: #fdcf9dff;
  --color-atomicorange-400: #fdb76cff;
  --color-atomicorange-500: #fc9f3bff;
  --color-atomicorange-600: #fb870aff;
  --color-atomicorange-700: #c96c08ff;
  --color-atomicorange-800: #975106ff;
  --color-atomicorange-900: #643604ff;
  --color-atomicorange-1000: #321b02ff;
  --color-mana-100: #edf1feff;
  --color-mana-200: #dbe2fdff;
  --color-mana-300: #b7c5fcff;
  --color-mana-400: #94a8faff;
  --color-mana-500: #708bf9ff;
  --color-mana-600: #4c6ef7ff;
  --color-mana-700: #3d58c6ff;
  --color-mana-800: #2e4294ff;
  --color-mana-900: #1e2c63ff;
  --color-mana-1000: #0f1631ff;
  --color-jelly-100: #fee7f2ff;
  --color-jelly-200: #fccbe1ff;
  --color-jelly-300: #fa96c4ff;
  --color-jelly-400: #f762a6ff;
  --color-jelly-500: #f42d88ff;
  --color-jelly-600: #d8116bff;
  --color-jelly-700: #a20d51ff;
  --color-jelly-800: #6c0836ff;
  --color-jelly-900: #36041bff;
  --color-lavender-100: #f4f3feff;
  --color-lavender-200: #e9e6fcff;
  --color-lavender-300: #d3cef9ff;
  --color-lavender-400: #bdb5f6ff;
  --color-lavender-500: #a79df3ff;
  --color-lavender-600: #9184f0ff;
  --color-lavender-700: #746ac0ff;
  --color-lavender-800: #574f90ff;
  --color-lavender-900: #3a3560ff;
  --color-lavender-950: #272340ff;
  --color-lavender-1000: #1d1a30ff;
  --color-blackhowl-100: #fefefeff;
  --color-blackhowl-200: #fafafaff;
  --color-blackhowl-300: #e9e9ebff;
  --color-blackhowl-400: #cecdd2ff;
  --color-blackhowl-500: #a9a8b0ff;
  --color-blackhowl-600: #7b7986ff;
  --color-blackhowl-700: #454254ff;
  --color-blackhowl-800: #1a182cff;
  --color-blackhowl-900: #12101eff;
  --color-blackhowl-1000: #09080fff;

  --font-sans: GeneralSans, system-ui, sans-serif;
  --font-mono: var(--font-open-sans);

  --text-tiny: 0.65rem;

  --animate-socket-ping: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-socket-pulse: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
  --color-icon-foreground: var(--icon-foreground);
  --color-icon-background: var(--icon-background);
  --color-icon-muted-foreground: var(--icon-muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-dark: var(--muted-dark);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .chat-link {
    @apply text-mana-200 decoration-mana-300/50;
    @apply hover:text-mana-100 hover:decoration-mana-100/50;
    @apply underline transition-colors duration-150;
  }
}
