@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";

html,
body {
  @apply h-full;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-andreablue-100: #ecf2fcff;
  --color-andreablue-200: #d9e6f9ff;
  --color-andreablue-300: #b3ccf4ff;
  --color-andreablue-400: #8cb3eeff;
  --color-andreablue-500: #6699e9ff;
  --color-andreablue-600: #4080e3ff;
  --color-andreablue-700: #3366b6ff;
  --color-andreablue-800: #264d88ff;
  --color-andreablue-900: #1a335bff;
  --color-andreablue-1000: #0d1a2dff;
  --color-rain-100: #f3f3f3ff;
  --color-rain-200: #e7e8e6ff;
  --color-rain-300: #d0d0ceff;
  --color-rain-400: #b8b9b5ff;
  --color-rain-500: #a1a19dff;
  --color-rain-600: #898a84ff;
  --color-rain-700: #6e6e6aff;
  --color-rain-800: #52534fff;
  --color-rain-900: #373735ff;
  --color-rain-1000: #1b1c1aff;
  --color-atomicorange-100: #fff3e7ff;
  --color-atomicorange-200: #fee7ceff;
  --color-atomicorange-300: #fdcf9dff;
  --color-atomicorange-400: #fdb76cff;
  --color-atomicorange-500: #fc9f3bff;
  --color-atomicorange-600: #fb870aff;
  --color-atomicorange-700: #c96c08ff;
  --color-atomicorange-800: #975106ff;
  --color-atomicorange-900: #643604ff;
  --color-atomicorange-1000: #321b02ff;
  --color-mana-100: #edf1feff;
  --color-mana-200: #dbe2fdff;
  --color-mana-300: #b7c5fcff;
  --color-mana-400: #94a8faff;
  --color-mana-500: #708bf9ff;
  --color-mana-600: #4c6ef7ff;
  --color-mana-700: #3d58c6ff;
  --color-mana-800: #2e4294ff;
  --color-mana-900: #1e2c63ff;
  --color-mana-1000: #0f1631ff;
  --color-jelly-100: #fee7f2ff;
  --color-jelly-200: #fccbe1ff;
  --color-jelly-300: #fa96c4ff;
  --color-jelly-400: #f762a6ff;
  --color-jelly-500: #f42d88ff;
  --color-jelly-600: #d8116bff;
  --color-jelly-700: #a20d51ff;
  --color-jelly-800: #6c0836ff;
  --color-jelly-900: #36041bff;
  --color-lavender-100: #f4f3feff;
  --color-lavender-200: #e9e6fcff;
  --color-lavender-300: #d3cef9ff;
  --color-lavender-400: #bdb5f6ff;
  --color-lavender-500: #a79df3ff;
  --color-lavender-600: #9184f0ff;
  --color-lavender-700: #746ac0ff;
  --color-lavender-800: #574f90ff;
  --color-lavender-900: #3a3560ff;
  --color-lavender-950: #272340ff;
  --color-lavender-1000: #1d1a30ff;
  --color-blackhowl-100: #fefefeff;
  --color-blackhowl-200: #fafafaff;
  --color-blackhowl-300: #e9e9ebff;
  --color-blackhowl-400: #cecdd2ff;
  --color-blackhowl-500: #a9a8b0ff;
  --color-blackhowl-600: #7b7986ff;
  --color-blackhowl-700: #454254ff;
  --color-blackhowl-800: #1a182cff;
  --color-blackhowl-900: #12101eff;
  --color-blackhowl-1000: #09080fff;

  --font-sans: GeneralSans, system-ui, sans-serif;
  --font-mono: var(--font-open-sans);

  --color-background: var(--color-lavender-1000);
  --color-foreground: var(--color-mana-100);
  --color-primary: var(--color-mana-600);
  --color-primary-foreground: var(--color-white);
  --color-secondary: #ff0000ff;
  --color-secondary-foreground: var(--color-white);
  --color-muted: var(--color-lavender-900);
  --color-muted-foreground: var(--color-mana-300);
  --color-accent: var(--color-mana-700);
  --color-accent-foreground: var(--color-mana-100);
  --color-destructive: #9e4042ff;
  --color-border: var(--color-lavender-900);
  --color-input: #ffffff1a;
  --color-card: var(--color-blackhowl-900);
  --color-card-foreground: var(--color-blackhowl-100);
  --color-popover: var(--color-lavender-950);
  --color-popover-foreground: var(--color-lavender-100);
  --color-focus-ring: var(--color-blackhowl-700);
  --color-chart-area-orange-fill: #755738b2;
  --color-chart-area-orange-fill-2: #76380eb2;
  --color-chart-area-orange-stroke: #ffb86aff;
  --color-chart-area-orange-stroke-2: #ff7915ff;
  --color-focus-ring-error: #6d2e2fff;
  --color-chart-area-blue-fill: #475d75b2;
  --color-chart-area-blue-stroke: #8ec5ffff;
  --color-chart-area-blue-fill-2: #1f4176b2;
  --color-chart-area-blue-stroke-2: #539bffff;
  --color-chart-area-green-fill: #3f6e51b2;
  --color-chart-area-green-stroke: #7bf1a8ff;
  --color-sidebar-sidebar: var(--neutral-950);
  --color-sidebar-sidebar-foreground: var(--neutral-300);
  --color-chart-area-green-fill-2: #0e5e2eb2;
  --color-sidebar-sidebar-accent: var(--neutral-900);
  --color-sidebar-sidebar-accent-foreground: var(--neutral-100);
  --color-sidebar-sidebar-primary: var(--neutral-50);
  --color-chart-area-green-stroke-2: #19d163ff;
  --color-sidebar-sidebar-primary-foreground: var(--neutral-900);
  --color-chart-area-rose-fill: #754e53b2;
  --color-sidebar-sidebar-border: var(--neutral-800);
  --color-chart-area-rose-stroke: #ffa1adff;
  --color-sidebar-sidebar-ring: var(--neutral-700);
  --color-chart-area-rose-fill-2: #741b30b2;
  --color-chart-area-rose-stroke-2: #ff4670ff;
  --color-chart-area-teal-fill: #409388b2;
  --color-chart-area-teal-stroke: #46edd5ff;
  --color-chart-area-teal-fill-2: #0e5951b2;
  --color-sidebar-unofficial-sidebar-muted: var(--neutral-500);
  --color-chart-area-teal-stroke-2: #1ccfb9ff;
  --color-chart-area-purple-fill: #655576b2;
  --color-chart-area-purple-stroke: #dab2ffff;
  --color-chart-area-purple-fill-2: #532a77b2;
  --color-chart-area-purple-stroke-2: #a96addff;
  --color-chart-area-amber-fill: #746221b2;
  --color-DELETE-ME-obra-shadcn-ui-docs-blue: #111628ff;
  --color-chart-area-amber-stroke: #ffd230ff;
  --color-DELETE-ME-obra-shadcn-ui-docs-yellow: #201d1bff;
  --color-chart-area-amber-fill-2: #734b0eb2;
  --color-chart-area-amber-stroke-2: #ffa50aff;
  --color-chart-static-blue-1: #8ec5ffff;
  --color-chart-static-blue-2: #2b7fffff;
  --color-chart-static-blue-3: #155dfcff;
  --color-chart-static-blue-4: #1447e6ff;
  --color-chart-static-blue-5: #193cb8ff;
  --color-chart-static-amber-1: #ffd230ff;
  --color-chart-static-amber-2: #fe9a00ff;
  --color-chart-static-amber-3: #e17100ff;
  --color-chart-static-amber-4: #bb4d00ff;
  --color-chart-static-amber-5: #973c00ff;
  --color-chart-static-green-1: #7bf1a8ff;
  --color-chart-static-green-2: #00c951ff;
  --color-chart-static-green-3: #00a63eff;
  --color-chart-static-green-4: #008236ff;
  --color-chart-static-green-5: #016630ff;
  --color-rose-1: #ffa1adff;
  --color-rose-2: #ff2056ff;
  --color-rose-3: #ec003fff;
  --color-rose-4: #c70036ff;
  --color-rose-5: #a50036ff;
  --color-purple-1: #dab2ffff;
  --color-purple-2: #ad46ffff;
  --color-purple-3: #9810faff;
  --color-purple-4: #8200dbff;
  --color-purple-5: #6e11b0ff;
  --color-orange-1: #ffb86aff;
  --color-orange-2: #ff6900ff;
  --color-orange-3: #f54a00ff;
  --color-orange-4: #ca3500ff;
  --color-orange-5: #9f2d00ff;
  --color-teal-1: #46edd5ff;
  --color-teal-2: #00bba7ff;
  --color-teal-3: #009689ff;
  --color-teal-4: #00786fff;
  --color-teal-5: #005f5aff;

  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */
}

:root {
  --radius: 0.625rem;
  --background: var(--color-lavender-800);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-lavender-200);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #313338;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background text-foreground;
  }
}
